In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf

In [2]:
df = pd.read_csv('../data/online-v0-prolific-sample-10.csv')
df.head()

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,Q_how_important_env,Q_attn_midway,Q_reduce_meat,Q_demos_age,Q_demos_gender,Q_demos_income,Q_demos_race,Q_comments,PROLIFIC_PID,treatment
0,Start Date,End Date,Response Type,IP Address,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Recipient Last Name,...,How important is environmental sustainability ...,Do you want to help us find out who is paying ...,Do you ever reduce meat consumption on the bas...,How old are you?,What is your gender?,What was your total household income before ta...,Choose one or more races that you consider you...,Any extra comments? (optional),PROLIFIC_PID,treatment
1,"{""ImportId"":""startDate"",""timeZone"":""America/De...","{""ImportId"":""endDate"",""timeZone"":""America/Denv...","{""ImportId"":""status""}","{""ImportId"":""ipAddress""}","{""ImportId"":""progress""}","{""ImportId"":""duration""}","{""ImportId"":""finished""}","{""ImportId"":""recordedDate"",""timeZone"":""America...","{""ImportId"":""_recordId""}","{""ImportId"":""recipientLastName""}",...,"{""ImportId"":""QID54""}","{""ImportId"":""QID56""}","{""ImportId"":""QID53""}","{""ImportId"":""QID30""}","{""ImportId"":""QID57""}","{""ImportId"":""QID25""}","{""ImportId"":""QID24""}","{""ImportId"":""QID58_TEXT""}","{""ImportId"":""PROLIFIC_PID""}","{""ImportId"":""treatment""}"
2,2022-06-12 16:12:09,2022-06-12 16:12:26,0,*******,100,16,1,2022-06-12 16:12:26,R_3QVIXPx1zfkZNWH,*******,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5c818f0d4f23cf000132ad6f,NaN
3,2022-06-12 16:12:44,2022-06-12 16:14:57,0,*******,100,133,1,2022-06-12 16:14:57,R_3I4OtkJA2u88n7O,*******,...,5,5,1,3,1,4,1,NaN,628d114b1acd87ea1b37874e,unlabeled
4,2022-06-12 16:13:28,2022-06-12 16:15:12,0,*******,100,103,1,2022-06-12 16:15:12,R_3il2zP80lXOBuK5,*******,...,4,5,2,3,1,6,1,that one attention check to select both was du...,5c8e72856243bb0001dcdea2,labeled

In [15]:
print(list(df.columns))

['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'ProlificID ', 'Q_attn_1', 'Q_attn_2', 'Q_pasta_1_unlabeled', 'Q_pasta_2_unlabeled', 'Q_pasta_3_unlabeled', 'Q_pasta_4_unlabeled', 'Q_pasta_5_unlabeled', 'Q_sandwich_1', 'Q_sandwich_2', 'Q_sandwich_3', 'Q_sandwich_4', 'Q_sandwich_5', 'Q_pasta_1_labeled', 'Q_pasta_2_labeled', 'Q_pasta_3_labeled', 'Q_pasta_5_labeled', 'Q_pasta_6_labeled', 'Q_sandwich_1_labeled', 'Q_sandwich_2_labeled', 'Q_sandwich_3_labeled', 'Q_sandwich_4_labeled', 'Q_sandwich_5_labeled', 'Q_attn_check', 'Q_current_hunger', 'Q_urban', 'Q_politics', 'Q_priorities_1', 'Q_priorities_4', 'Q_priorities_5', 'Q_priorities_6', 'Q_priorities_7', 'Q_special_diet', 'Q_special_diet_6_TEXT', 'Q_past_vegetarian', 'Q_past_vegan', 'Q_recent_meal_veget', 'Q_recent_meal_vegan', 'Q_vegetarian_not_me', 'Q_vegan_not_me', 'Q_good_for_env', 'Q_how_important_env', 'Q_attn_midway', 'Q_reduce_meat', 'Q_demos_age', 'Q_demos_gender', 'Q_demos_income', 'Q_demos_race', 'Q_comments', 'PROLIFIC_PID', 'treatment']

## Data preprocessing


Transform into 3 tables:

0. Codebook

Maps column names to questions/descriptive text


1. Respondent data table:

Contains all relevant non-choice data for a respondent

2. Menu choices table

```
ResponseId, labeled, QID, menu (sandwich/pata), comparison type (1-5), choice (1,2) 
```

In [16]:
# extract the columns we use
respondent_columns = [
    'ResponseId', 'PROLIFIC_PID', 'Finished',
    'Duration (in seconds)', 'RecordedDate',
    'Q_attn_1', 'Q_attn_2', 'Q_attn_check', 'Q_attn_midway', 
    'Q_current_hunger', 'Q_urban', 'Q_politics', 
    'Q_priorities_1', 'Q_priorities_4', 'Q_priorities_5', 'Q_priorities_6', 'Q_priorities_7',
    'Q_special_diet', 'Q_special_diet_6_TEXT', 
    'Q_past_vegetarian', 'Q_past_vegan', 'Q_recent_meal_veget', 'Q_recent_meal_vegan',
    'Q_vegetarian_not_me', 'Q_vegan_not_me', 'Q_good_for_env', 'Q_how_important_env', 'Q_reduce_meat', 
    'Q_demos_age', 'Q_demos_gender', 'Q_demos_income', 'Q_demos_race', 
    'Q_comments',
    'treatment'
]

In [8]:
choice_Q_prefix = ['Q_pasta', 'Q_sandwich']
choice_Qs = [q for q in df.columns if any([q.startswith(p) for p in choice_Q_prefix])]
# choice_Qs

### Codebook

In [28]:
"""
Codebook
QID, text
"""
codebook_df = df[respondent_columns + choice_Qs].iloc[0].rename('text').to_frame()
codebook_df.head(10)

                                                                    text
ResponseId                                                   Response ID
PROLIFIC_PID                                                PROLIFIC_PID
Finished                                                        Finished
Duration (in seconds)                              Duration (in seconds)
RecordedDate                                               Recorded Date
Q_attn_1               Please enter the number you see here into the ...
Q_attn_2               Help us keep track of who is paying attention....
Q_attn_check                                Which item would you prefer?
Q_attn_midway          Do you want to help us find out who is paying ...
Q_current_hunger       How would you rank your current hunger level o...

### Respondent table

In [18]:
respondent_df = df.drop([0,1])[respondent_columns]
starting_respondent_N = respondent_df['ResponseId'].nunique()
print('N=%s total responses before data cleaning' % starting_respondent_N)
respondent_df.head(3)

N=10 total responses before data cleaning

,ResponseId,PROLIFIC_PID,Finished,Duration (in seconds),RecordedDate,Q_attn_1,Q_attn_2,Q_attn_check,Q_attn_midway,Q_current_hunger,...,Q_vegan_not_me,Q_good_for_env,Q_how_important_env,Q_reduce_meat,Q_demos_age,Q_demos_gender,Q_demos_income,Q_demos_race,Q_comments,treatment
2,R_3QVIXPx1zfkZNWH,5c818f0d4f23cf000132ad6f,1,16,2022-06-12 16:12:26,21,6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,R_3I4OtkJA2u88n7O,628d114b1acd87ea1b37874e,1,133,2022-06-12 16:14:57,21,5,"1,2",5,4,...,5,3,5,1,3,1,4,1,NaN,unlabeled
4,R_3il2zP80lXOBuK5,5c8e72856243bb0001dcdea2,1,103,2022-06-12 16:15:12,21,5,2,5,2,...,3,2,4,2,3,1,6,1,that one attention check to select both was du...,labeled

In [24]:
# only include completed surveys
N_uncompleted = len(respondent_df[respondent_df['Finished'] != '1'])
respondent_df = respondent_df[respondent_df['Finished'] == '1']
print('dropping %s incomplete responses' % N_uncompleted)

dropping 0 incomplete responses

In [25]:
def passed_attn_checks(row):
    if int(row['Q_attn_1']) != 21:
        print(row['ResponseId'], 'failed Q_attn_1')
        return False
    if int(row['Q_attn_2']) != 5:
        print(row['ResponseId'], 'failed Q_attn_2')
        return False
    if row['Q_attn_check'] != '1,2':
        print(row['ResponseId'], 'failed Q_attn_check')
        return False
    if int(row['Q_attn_midway']) != 5:
        print(row['ResponseId'], 'failed Q_attn_check')
        return False
    return True

In [26]:
respondent_df['passed_attn_checks'] = respondent_df.apply(passed_attn_checks, axis=1)
passed_attn_checks_ResponseId_list = list(respondent_df[respondent_df.passed_attn_checks == True].ResponseId)
print('%s/%s respondents passed all attention checks' % (len(passed_attn_checks_ResponseId_list), len(respondent_df)))
passed_attn_checks_ResponseId_list

R_3QVIXPx1zfkZNWH failed Q_attn_2
R_3il2zP80lXOBuK5 failed Q_attn_check
8/10 respondents passed all attention checks

['R_3I4OtkJA2u88n7O',
 'R_2azWqLxVBzcA2KZ',
 'R_10IsfPbYwY0wERg',
 'R_1n1pb9SbHwD3XOr',
 'R_3iExvfnLn47ukrC',
 'R_3htHJhGptJExUft',
 'R_1NhbuKqiEsRy2DD',
 'R_3hmWa2jK7lzK0ub']

### Menu choices table

```
ResponseId, labeled (0/1), QID, menu (sandwich/pata), choice_type (1-5), choice (1,2) 
```

In [9]:
# Wide data
choices_wide_df = (df[['ResponseId'] + choice_Qs].drop([0,1]))
# drop data from respondents who failed attention checks
choices_wide_df = choices_wide_df[
    (choices_wide_df.ResponseId.isin(passed_attn_checks_ResponseId_list))
]
choices_wide_df.head(3)

,ResponseId,Q_pasta_1_unlabeled,Q_pasta_2_unlabeled,Q_pasta_3_unlabeled,Q_pasta_4_unlabeled,Q_pasta_5_unlabeled,Q_sandwich_1,Q_sandwich_2,Q_sandwich_3,Q_sandwich_4,...,Q_pasta_1_labeled,Q_pasta_2_labeled,Q_pasta_3_labeled,Q_pasta_5_labeled,Q_pasta_6_labeled,Q_sandwich_1_labeled,Q_sandwich_2_labeled,Q_sandwich_3_labeled,Q_sandwich_4_labeled,Q_sandwich_5_labeled
3,R_3I4OtkJA2u88n7O,NaN,1,2,2,1,2,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,R_2azWqLxVBzcA2KZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2,1,2,1,NaN,2,1,NaN,2,2
6,R_10IsfPbYwY0wERg,2,1,NaN,1,1,2,2,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Transform the wide data to long data.
choices_df = pd.melt(choices_wide_df, 
                     id_vars=['ResponseId'], value_vars=choice_Qs, 
                     var_name='QID', value_name='choice')
choices_df.head()

          ResponseId                  QID choice
0  R_3I4OtkJA2u88n7O  Q_pasta_1_unlabeled    NaN
1  R_2azWqLxVBzcA2KZ  Q_pasta_1_unlabeled    NaN
2  R_10IsfPbYwY0wERg  Q_pasta_1_unlabeled      2
3  R_1n1pb9SbHwD3XOr  Q_pasta_1_unlabeled    NaN
4  R_3iExvfnLn47ukrC  Q_pasta_1_unlabeled    NaN

In [11]:
# Add Q data
# ResponseId, labeled (0/1), QID, menu (sandwich/pata), choice_type (1-5), choice (1,2) 
choices_df['menu'] = choices_df['QID'].apply(lambda QID: QID.split('_')[1])
choices_df['choice_type'] = choices_df['QID'].apply(lambda QID: QID.split('_')[2])
choices_df['labeled'] = choices_df['QID'].apply(lambda QID: 1 if len(QID.split('_')) > 3 and QID.split('_')[3] == 'labeled' else 0)
# only keep responses for answered questions
print('dropping unanswered Qs; respondents answer %s = %s/%s of total Qs' % (
    len(choices_df.dropna())/len(choices_df), len(choices_df.dropna()), len(choices_df)
))
choices_df = choices_df.dropna()
choices_df.head()

dropping unanswered Qs; respondents answer 0.4 = 64/160 of total Qs

           ResponseId                  QID choice   menu choice_type  labeled
2   R_10IsfPbYwY0wERg  Q_pasta_1_unlabeled      2  pasta           1        0
6   R_1NhbuKqiEsRy2DD  Q_pasta_1_unlabeled      1  pasta           1        0
7   R_3hmWa2jK7lzK0ub  Q_pasta_1_unlabeled      2  pasta           1        0
8   R_3I4OtkJA2u88n7O  Q_pasta_2_unlabeled      1  pasta           2        0
10  R_10IsfPbYwY0wERg  Q_pasta_2_unlabeled      1  pasta           2        0

In [12]:
# make choice 0/1. choice currently coded as 1: X (labeled); 2: Y 
# relabel to change value of 2 (Y)
# 1: X (labeled) 0: Y
choices_df['choice'] = choices_df['choice'].apply(lambda c: 1 if int(c) == 1 else 0)
choices_df.head()

           ResponseId                  QID  choice   menu choice_type  labeled
2   R_10IsfPbYwY0wERg  Q_pasta_1_unlabeled       0  pasta           1        0
6   R_1NhbuKqiEsRy2DD  Q_pasta_1_unlabeled       1  pasta           1        0
7   R_3hmWa2jK7lzK0ub  Q_pasta_1_unlabeled       0  pasta           1        0
8   R_3I4OtkJA2u88n7O  Q_pasta_2_unlabeled       1  pasta           2        0
10  R_10IsfPbYwY0wERg  Q_pasta_2_unlabeled       1  pasta           2        0

## Simple model

Warning:  just messing around here!
- tiny "sample"
- not controlling for effects by ResponseId -- mixing the many responses per ResponseId together
- mixing all of the choice types together

In [13]:
simple_model = smf.logit("choice ~ labeled", data=choices_df).fit()
simple_model.summary()

Optimization terminated successfully.
         Current function value: 0.668514
         Iterations 4

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                 choice   No. Observations:                   64
Model:                          Logit   Df Residuals:                       62
Method:                           MLE   Df Model:                            1
Date:                Wed, 15 Jun 2022   Pseudo R-squ.:               0.0007667
Time:                        14:08:54   Log-Likelihood:                -42.785
converged:                       True   LL-Null:                       -42.818
Covariance Type:            nonrobust   LLR p-value:                    0.7978
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.5108      0.365      1.399      0.162      -0.205       1.227
labeled       -0.1313      0.513     -0.256      0.798      -1.136       0.874
==============================================================================
"""

In [14]:
simple_model_odds = pd.DataFrame(np.exp(simple_model.params), columns=['OR'])
simple_model_odds['z-value'] = simple_model.pvalues
simple_model_odds[['2.5%', '97.5%']] = np.exp(simple_model.conf_int())
simple_model_odds

                 OR   z-value      2.5%     97.5%
Intercept  1.666667  0.161827  0.814768  3.409287
labeled    0.876923  0.797833  0.321017  2.395492